## Data Cleaning Amazon

In [129]:
# Importing the required packages and loading the dataset
import pandas as pd
import numpy as np
import re

df = pd.read_csv(r"C:\Users\Ramesh\Desktop\Tacenda's Archives\Amazon_data3.csv")
df.head(10)

,Brand,Model Name,Price,Product_Description,Star_ratings,Ratings,CPU_model,RAM,Hard_Disk,Graphics_Processor,Screensize,Color
0,BHWW,BaseBook-Midnight,"INR33,252.37","BHWW Windows 11 Laptop, 16GB RAM and 512GB SSD...",4.3,26 ratings,Celeron,16 GB,512 GB,,15.6 Inches,Midnight
1,Lenovo,IdeaPad 1 15IJL7,"INR28,182.09","Lenovo IdeaPad 1 Student Laptop, Intel Dual Co...",4.2,44 ratings,Celeron,12 GB,512 GB,,15.6 Inches,Gray
2,HP,HP Laptop,"INR24,938.24","HP Newest 14"" Ultral Light Laptop for Students...",4.2,992 ratings,Celeron N,8 GB,64 GB,,14 Inches,Snowflake White
3,HP,TPN-Q222,"INR40,236.37","HP Notebook Laptop, 15.6"" HD Touchscreen, Inte...",4.3,526 ratings,Core i3 Family,32 GB,1 TB,Intel UHD Graphics,15.6 Inches,Silver
4,SGIN,SGIN-M15S,"INR21,613.75","SGIN 15.6 Inch Laptop, 8GB DDR4 512GB SSD Lapt...",4.6,148 ratings,Celeron,8 GB,512 GB,,15.6 Inches,Black
5,Lenovo,Lenovo IdeaPad,"INR33,242.39","Lenovo 15.6"" IdeaPad 1 Laptop, 20GB Memory, 1T...",4.2,124 ratings,Pentium Other,20 GB,1 TB,,15.6 Inches,Black
6,HP,Pavilion,"INR41,483.37","HP 2022 Newest Pavilion 15.6"" HD Laptop, Intel...",4.2,611 ratings,Pentium N5000,32 GB,1 TB,Intel UHD Graphics,15.6 Inches,
7,Lenovo,‎Lenovo IdeaPad,"INR33,252.37","Lenovo 15.6"" IdeaPad Laptop with 1 Year Micros...",4.2,139 ratings,Pentium,20 GB,1 TB,,15.6 Inches,Abyss Blue
8,HP,Premium,"INR27,350.76",HP 2022 Premium 14-inch HD Thin and Light Lapt...,4.1,"2,388 ratings",Celeron,32 GB,64 GB,,14 Inches,Indigo Blue
9,HP,14-dq0054dx,"INR31,589.71",2023 Newest HP Laptops for College Student & B...,4.0,59 ratings,Celeron N4000,16 GB,64 GB,,14 Inches,Rose Gold

In [130]:
df.columns = df.columns.str.replace(" ", "_")

In [131]:
# Dropping duplicates rows
df.drop_duplicates(inplace = True)
df.shape

(316, 12)

In [132]:
df.loc[df["Brand"] == " "]

,Brand,Model_Name,Price,Product_Description,Star_ratings,Ratings,CPU_model,RAM,Hard_Disk,Graphics_Processor,Screensize,Color
287,,,"INR2,492.33","Travel Laptop Backpack, College Laptop Backpac...",4.5,803 ratings,,,,,,
291,,,"INR15,794.44","Laptop 15.6 Inch 4GB DDR 128G Memory, Windows ...",3.1,13 ratings,,,,,,

In [133]:
# Dropping rows in "Brand" column that has no name (" ")
df = df.loc[df["Brand"] != " "]

In [134]:
# Dropping rows that has no Price
df = df.loc[df["Price"] != " "]

In [135]:
# Removing INR from the Price column
df["Price"] = df["Price"].str.replace(",","")
df["Price"] = df["Price"].str.strip("INR")

In [136]:
# Converting it to a float dtype
df["Price"] = df["Price"].str.strip("$").astype(float)

In [137]:
# checking if there is any blank in Product_Description
df.loc[df["Product_Description"] == " "]

Empty DataFrame
Columns: [Brand, Model_Name, Price, Product_Description, Star_ratings, Ratings, CPU_model, RAM, Hard_Disk, Graphics_Processor, Screensize, Color]
Index: []

In [138]:
# Converting Star_ratings to a float dtype
df["Star_ratings"] = df["Star_ratings"].replace(" ", np.nan).astype(float)

In [139]:
# Stripping ratings from the Ratings
df["Ratings"] = df["Ratings"].str.strip("ratings")

In [156]:
df["Ratings"] = (df["Ratings"].str.replace(",","")).str.strip()
df["Ratings"] = df["Ratings"].replace(" ", 0)

In [163]:
df["Ratings"] = df["Ratings"].replace("", 0).astype(int)

In [171]:
df["CPU_model"] = df["CPU_model"].replace(" ", np.nan)

In [176]:
# Checking for blank spaces in RAM
df.loc[df["RAM"] == " "]

,Brand,Model_Name,Price,Product_Description,Star_ratings,Ratings,CPU_model,RAM,Hard_Disk,Graphics_Processor,Screensize,Color
188,Istudyniture,,4987.15,"Portable Laptop Lap Desk with Pillow Cushion, ...",NaN,337,NaN,,,,,Black: 21.8x12.1 in/Portable

In [185]:
# Dropping 188th index row
df.drop(index = 188, inplace = True)

In [184]:
df.loc[df["RAM"] == " "]

Empty DataFrame
Columns: [Brand, Model_Name, Price, Product_Description, Star_ratings, Ratings, CPU_model, RAM, Hard_Disk, Graphics_Processor, Screensize, Color]
Index: []

In [190]:
# Checking for blankspaces in Hard_Disk
df.loc[df["Hard_Disk"] == " "]
df["Hard_Disk"] = df["Hard_Disk"].replace(" ", np.nan)

In [193]:
# Replacing " " with nan
df["Graphics_Processor"] = df["Graphics_Processor"].replace(" ", np.nan)

In [199]:
# Checking for Blank spaces in Scrensize
df.loc[df["Screensize"] == " "]

Empty DataFrame
Columns: [Brand, Model_Name, Price, Product_Description, Star_ratings, Ratings, CPU_model, RAM, Hard_Disk, Graphics_Processor, Screensize, Color]
Index: []

In [202]:
# Checking for Blankspaces in Color and replacing it with nan
df["Color"] = df["Color"].replace(" ", np.nan)

In [208]:
# Restting index
df.reset_index(drop = True, inplace = True)

In [218]:
# Strip GB from RAM
df["RAM"] = df["RAM"].str.strip("GB").str.strip().astype(int)

In [223]:
# Renaming RAM column to RAM(GB)
df.rename(columns = {"RAM": "RAM(GB)"}, inplace = True)

In [226]:
# Exporting it to a csv file
df.to_csv(r"C:\Users\Ramesh\Desktop\Tacenda's Archives\Amazon_data(Pruned).csv", index = False)